.card header{
    padding: 25px 30px 5px 25px;
}
.card h3{
    margin: 3px 0 0 0;  
    font-weight: bold
}

.select{
    padding: 10px 30px 25px 30px;
}
.select button{
    width: 100%;
    height: 100%;   
    font-size: 14px;
}
button.boldline{
    border: 1.5px solid;
}

#reportrange{
    width: 100%;
    text-align: left;
    font-size: 14px;
}
#reportrange b{
    margin-top: 9px;
    margin-right: -4px;
}
#reportrange i{
    font-size: 18px;
}

.mgbottom{
    margin-bottom: 10px;
}

select{
    font-size: 14px;
}

hr{
    border: 1px solid #DDDDDD;
}

.daterangepicker.opensleft:before{
     left: 589px; 
}
.daterangepicker.opensleft:after{
     left: 590px; 
}
